.HomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
}

.content {
    width: 950px;
}

@media screen and (max-width: 950px) {
    .content{
        width: 90%; 
    }
}

/* CourseItem */
.courseItemMain {
    background-color:#FFECEC;
    margin: 20px 0px;
}

.courseItemHorizontal {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.courseItemVerticalSides {
    display: flex;
    flex-direction: column;
    margin: 5px 20px;
}

.courseItemVerticalMiddle {
    align-items: flex-start;
}

/* CourseItemList*/
.courseItemListItem {
    margin: 50px 50px;
}

/* Header and Button*/
.reviewedCourses {
    margin: auto;
}

.courseListHeader {
    background-color: #A17070;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.courseListHeader p {
    padding-left: 25px;
}

.button {
    padding-top: 8px;
    padding-right: 15px;
    float: right;
}

/* Filter */
.filterCategories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

/* SearchBar */

.searchBox {
    background-color:#E6A0A0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0px;
    margin: 20px 20px;
}
