/* Header component styling */
.navBar {
	background-color: #a17070;
	overflow: hidden;
	list-style-type: none;
	text-align: left;
	margin-top: 0px;
	padding: 8px 0px;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.link {
	color: black;
	text-decoration: none;
}

.navBar li {
	border-radius: 10px;
	text-align: center;
	padding: 5px 10px;
	font-size: 13px;
	text-decoration: none;
}

.link:hover {
	color: #ffffff;
	text-decoration: none;
}

.right {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.home {
	font-size: 24px;
}
