body {
  font-family: 'Roboto';
  padding: 30px;
}

.reviewList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reviewItem {
  display: flex;
  justify-content: left;
  flex-direction: row;
  background-color: #C2B0B0;
  padding: 30px;
}

.ratingSummary {
  padding: 10px;
  background-color: #BE5151;
}

.rating {
  color: #eddada;
  text-align: center;
}

.thumbButtons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.thumbButtons button {
  background-color: #eea29a;
  font-size: 12px;
}

.thumbButtons button:hover {
  background-color: #e65a4c;
  font-size: 12px;
}

.review {
  margin-left: 30px;
  padding: 10px 30px;
  background-color: #FB9696;
  width: 100%;
}

/* CourseOverview */
.courseOverview{
  padding: 50px;
  background-color: #C2B0B0;

}

/* CourseItem */
.courseitem {
  display: flex;
  flex-direction: column;
  border: solid;
  width: 30%;
  padding: 10px;
}

.courseitem_top {
  display: flex
}

.courseitem_bottom {
  display: flex
}

.courseitem_review {
  border: solid;
  margin-left: 10px;
  padding: 5px
}
