body {
  font-family: 'Roboto';
  padding: 30px;
}

.reviewList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reviewItem {
  display: flex;
  justify-content: left;
  flex-direction: row;
  background-color: #C2B0B0;
  padding: 30px;
}

.ratingSummary {
  padding: 10px;
  background-color: #BE5151;
}

.rating {
  color: #eddada;
  text-align: center;
}

.thumbButtons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.thumbButtons button {
  background-color: #eea29a;
  font-size: 12px;
}

.thumbButtons button:hover {
  background-color: #e65a4c;
  font-size: 12px;
}

.review {
  margin-left: 30px;
  padding: 10px 30px;
  background-color: #FB9696;
  width: 100%;
}

/* CourseOverview */
.courseOverview{
  padding: 50px;
  background-color: #C2B0B0;

}

/* CourseItem */
.courseItemHorizontal {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.courseItemVerticalSides {
  display: flex;
  flex-direction: column;
  margin: 5px 20px;
}

.courseItemVerticalMiddle {
  align-items: flex-start;
}

/* Button and Header component styling */
.topnav {
  background-color: #fbc687;
  overflow: hidden;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#appTitle {
  float: left;
}

.topnav a:hover {
  background-color: #ddd;
  color: #562349;
}

.topnav a.active {
  background-color: #aacdbe;
  color: white;
}

.button {
  background-color: #ea907a;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  float: right;
  font-size: 16px;
  cursor: pointer;
}
